# Supabase PostgreSQL Connection String (Transaction mode recommended for Supabase via IPv4/IPv6)
DATABASE_URL="postgresql://postgres:akash%407905874934@db.mhuiiaqlpmvpfqoyulid.supabase.co:5432/postgres"
LLM_PROVIDER=
LLM_API_KEY=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

REDIS_URL=

NEXT_PUBLIC_API_URL=
