# Supabase PostgreSQL Connection String (Transaction mode recommended for Supabase via IPv4/IPv6)
DATABASE_URL="postgresql://postgres:akash%407905874934@db.mhuiiaqlpmvpfqoyulid.supabase.co:5432/postgres"
GOOGLE_CLIENT_SECRET=

REDIS_URL=

NEXT_PUBLIC_API_URL=
